input {
    width: 100%;
}

#form1 {
    background-color: rgb(242, 241, 241);
}

#form2 {
    background-color: rgb(242, 241, 241);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: green;
}

form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#billing-heading {
    padding: 0 20px;
}

.section {
    /* padding: 20px 0; */
}

#section-1 {
    padding: 0 20px;
}

#top-half {
    display: flex;
    justify-content: space-between;
}

#top-half > * {
    width: 100%;
}

#top-half > input {
    width: 100%;
}

#card-extra {
    display: flex;
}

#card-extra > * {
    margin-right: 50px;
}

#section-2 {
    padding: 0 20px;
    margin-left: 10px;
}

#address-extra {
    display: flex;
    justify-content: space-between;
}

#address-extra > div {
    padding-right: 20px;
    margin-right: 10px;
}

div > div > div > * {
    display: flex;
    flex-direction: column;
}

div > div > div > label {
    padding: 5px 0 5px;
}

#section-3 {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

#section-3 > * {
    width: 100%;
    margin: 0 25px;
}

#contact-inputs {
    display: flex;
}

#contact-inputs > div {
    width: 100%;
    padding: 0 0 20px 0;
    margin-right: 100px;
}

#contact-inputs > div > * {
    width: 100%;
}

#total-div {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    margin-top: 10px;
}

#total-div > h2 {
    /* margin-right: 20px; */
}

#total-input {
}

#submit-btn {
    color: white;
    background-color: green;
    padding: 20px;
    margin-top: 20px;
    margin-left: 25px;
    width: 90%;
    font-size: 1.5em;
    font-weight: bold; 
}

#submit-btn:hover {
    color: green;
    background-color: white;
    box-shadow: 0 0 40px rgb(152, 239, 168);;
}

#confirmation-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}